<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/static/lib/jquery.js"></script>
		<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
		<script type="text/javascript" src="/static/lib/bootstrap.js"></script>
		<link rel="stylesheet" href="/static/lib/bootstrap.css" />
		<link rel="stylesheet" href="static/styles/dashboard.css">
		<title>Gator Store Dashboard</title>
	</head>

	<body>
		
		<p>CSC648-848 Section 02 TEAM #12</p>
		<center><h1>Gator Store Dashboard</h1></center>
		<hr>
		<br>

		<!-- TODO replace hardcoded pictures after login/signup implemented -->
		<div class="center"><p><h3>Recently posted items:</h3></p>
			<div class="slideshow-container">

				<div class="mySlides slide-fade">
				  <img src="static/img/ikea_sofa.jpg" alt="ikea sofa" style="width:220px;height:150px;">
				  <img src="static/img/longboard.jpg" alt="longboard" style="width:90px;height:150px;">
				  <img src="static/img/csc510tb.jpg" alt="csc510 textbook" style="width:210px;height:150px;">
				</div>

				<div class="mySlides slide-fade">
				  <img src="static/img/longboard.jpg" alt="longboard" style="width:90px;height:150px;">
				  <img src="static/img/csc510tb.jpg" alt="csc510 textbook" style="width:210px;height:150px;">
				  <img src="static/img/ikea_sofa.jpg" alt="ikea sofa" style="width:220px;height:150px;">
				</div>

				<div class="mySlides slide-fade">
				  <div class="numbertext"> </div>
				  <img src="static/img/csc510tb.jpg" alt="csc510 textbook" style="width:210px;height:150px;">
				  <div class="text"> </div>
				</div>

				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>

			</div>
		</div>

		<div>
			<br><br>
			<h3>Messages</h3>

			<table>
				<tr>
					<th>From</th>
					<th>To</th>
					<th>Item</th>
					<th>Deal Location</th>
					<th>Deal time</th>
					<th>Message</th>
					<th>Created Time</th>
					<th>Reply</th>
				</tr>
				<% for (var i = 0; i < messages.length; i++) {%>
					<% message = messages[i];%>
					<tr>
						<td><%=message.from%></td>
						<td><%=message.to%></td>
						<td><%=message.item%></td>
						<td><%=message.dealLocation%></td>
						<td><%=message.dealTime%></td>
						<td><%=message.message%></td>
						<td><%=message.createdAt%></td>
						<!-- TODO: Only enable reply button for those messages sent to seller-->
						<td><button data-toggle="modal" data-target="#reply-modal-<%=i%>">Reply</button></td>
					</tr>

					<!-- Contact Modal -->
					<div class="modal fade" id="reply-modal-<%=i%>" role="dialog">
						<div class="modal-dialog">
							<form action="/contact?item=<%=message.item%>" method="post">
								<!-- Contact Modal content-->
								<div class="modal-content row">
									<div class="modal-header">
										<h4 class="modal-title"><%=message.item%></h4>
									</div>
									<div class="modal-body row">
										<!-- From and To are opposite for reply -->
										<p class="col-md-10">From <input name="from" readonly type="text" value="<%=message.to%>"></p>
										<p class="col-md-10">To <input name="to" readonly type="text" value="<%=message.from%>"></p>
										<textarea name="contactDetails" class="item-description col-md-12" type="text" placeholder="type in details"></textarea>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-success">Send</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				<%}%>
			</table>
			<br><br>
		</div>



		<script>
		var slideIndex = 1;
		showSlides(slideIndex);

		function plusSlides(n) {
		  showSlides(slideIndex += n);
		}

		function currentSlide(n) {
		  showSlides(slideIndex = n);
		}

		function showSlides(n) {
		  var i;
		  var slides = document.getElementsByClassName("mySlides");
		  // var dots = document.getElementsByClassName("dot");
		  if (n > slides.length) {slideIndex = 1}    
		  if (n < 1) {slideIndex = slides.length}
		  for (i = 0; i < slides.length; i++) {
		      slides[i].style.display = "none";  
		  }
		  // for (i = 0; i < dots.length; i++) {
		  //     dots[i].className = dots[i].className.replace(" active", "");
		  // }
		  slides[slideIndex-1].style.display = "block";  
		  // dots[slideIndex-1].className += " active";
		}
		</script>

	</body>
</html>