<%include ./partials/header.ejs%>
<%include ./partials/navbar.ejs%>
<%const data = item%>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-8">
      <h2><%=data.title%> - $<%=data.price%></h2>
      <div class="d-flex justify-content-center mb-3">
        <img class="item-img" src = <%=data.photo%> alt="" />
      </div>
      
      <h3><strong>Item description:</strong></h3>
      <div class="item-description">
        <p><%=data.description%></p>
      </div>
      <div>
        <p class = 'text-muted'><strong>Last updated:</strong> <%=data.updatedAt%></p>
      </div>
    </div>

    <div class="col-6 col-md-4">
      <h5>Seller:</h5>
      <div class="seller-image text-center">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
          style="max-width: 250px;"
          alt=""
        />
        <p>SellerFirst SellerLast</p>
      </div>
      <div class="text-center">
        <button class="btn btn-warning" data-toggle="modal" data-target="#contact-modal">Contact Seller</button>
      </div>

      <!-- Contact Modal -->
      <div class="modal fade" id="contact-modal" role="dialog">
        <div class="modal-dialog">
          <form action="/contact?item=<%=data.title%>" method="post">
            <!-- Contact Modal content-->
            <div class="modal-content row">
              <div class="modal-header">
                <h4 class="modal-title"><%=data.title%></h4>
              </div>
                <div class="modal-body row">
                  <!--TODO: replace hardcoded values with user info once login is implemented -->
                  <p class="col-md-10">Buyer <input name="buyerName" readonly type="text" value="<%= "BuyerFirst BuyerLast" %>"></p>
                  <p class="col-md-10">Seller <input name="sellerName" readonly type="text" value="<%= "SellerFirst SellerLast" %>"></p>

                  <select name="contactLocation" class="float-left col-md-5">
                    <option>Library</option>
                    <option>Station Cafe</option>
                    <option>Thornton Hall</option>
                  </select>

                  <input name="contactTime" class="float-right col-md-5" type="text" placeholder="type in time to contact">

                  <textarea name="contactDetails" class="item-description col-md-12" type="text" placeholder="type in details"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button id="submit-contact" type="submit" class="btn btn-success">Send</button>
                </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<%include ./partials/footer.ejs%>