<!-- single item page -->
<%include ./partials/header.ejs%>
<%include ./partials/navbar.ejs%>
<%const data = item%> 

<div class="container mt-5">
  <div class="row">
    <!-- item container -->
    <div class="col-12 col-md-8">
      <h2><%=data.title%> - $<%=data.price%></h2>
      <div class="d-flex justify-content-center mb-3">
        <img class="item-img" src = <%=data.photo%> alt="" />
      </div>
      
      <p><strong>Item description:</strong></h2>
      <div class="item-description">
        <p><%=data.description%></p>
      </div>
      <div>
        <p class = 'text-muted'><strong>Last updated:</strong> <%=data.updatedAt%></p>
      </div>
    </div>

    <!-- seller information (hard coded for now) -->
    <div class="col-6 col-md-4">
      <h5>Seller:</h5>
      <div class="seller-image text-center">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
          style="max-width: 250px;"
          alt=""
        />
        <p>SellerFirst SellerLast</p>
      </div>
      <div class="text-center">
        <button class="btn btn-warning">Contact Seller</button>
      </div>
    </div>
  </div>
</div>

<%include ./partials/footer.ejs%>
<!-- last updated: 11/19/2019 - angelo solitario -->
