<% title = 'Sign Up'; jsFiles = ['/static/js/captcha.js']; cssFiles = []; %>
<%include ./partials/header.ejs%> <%include ./partials/navbar.ejs%>

<!-- script to check if two inputs for password match and for captcha -->
<script language="javascript" type="text/javascript">
  const check = input => {
    if (input.value != document.getElementById("apassword").value) {
      input.setCustomValidity("Password Must be Matching.");
    } else {
      // input is valid -- reset the error message
      input.setCustomValidity("");
    }
  };
</script>

<div class="gatorText">
  <h1 class="text-center">Gator Store</h1>
</div>

<div class="container">
  <div class="signup">
    <h2 class="text-center">SIGN UP</h2>
    <div class="form">
      <small>*All fields are mandatory</small>
      <form method="post" action="/signup" onsubmit="return checkform(this)">
        <div class="form-group">
          <label for="">First Name:</label>
          <input
            name="firstName"
            class="form-control"
            type="text"
            required
            value="<%= formData.firstName %>"
          />
        </div>
        <div class="form-group">
          <label for="">Last Name:</label>
          <input
            name="lastName"
            class="form-control"
            type="text"
            required
            value="<%= formData.lastName %>"
          />
        </div>
        <div class="form-group">
          <label for="">Email:</label>
          <input
            name="email"
            class="form-control"
            type="text"
            required
            value="<%= formData.email %>"
          />
        </div>
        <div class="form-group">
          <label for="">Password:</label>
          <input
            id="apassword"
            name="password"
            class="form-control"
            type="password"
            minlength="8"
            required
            value="<%= formData.password %>"
          />
        </div>
        <div class="form-group">
          <label for="">Confirm Password:</label>
          <span id="message"></span>
          <input
            oninput="check(this)"
            name="confirmPassword"
            id="confirm_password"
            class="form-control"
            type="password"
            required
            value="<%= formData.confirmPassword %>"
          />
        </div>

        <div class="form-group form-check">
          <input name="agreeTerms" type="checkbox" class="form-check-input"
          required <%= formData.agreeTerms === 'on' ? 'checked' : '' %> />
          <label class="form-check-label"
            >I agree to terms and conditions</label
          >
        </div>

        <% if (flash.length > 0) { %>
        <div class="alert alert-danger">
          <%= flash.map(f => f.message).join(' ') %>
        </div>
        <% flash.splice(0, flash.length); // remove all messages %> <% } %>

        <!-- captcha -->
        <div class="capbox form-group text-center">
          Please enter the number:
          <span id="CaptchaDiv"></span>
          <input type="hidden" id="txtCaptcha" value="" />
          <input type="text" name="CaptchaInput" id="CaptchaInput" size="15" />
          <br />
        </div>
        <!-- end of captcha -->
        <div class="form-group text-center">
          <button type="submit" class="btn btn-large btn-success">JOIN</button>
        </div>
      </form>
    </div>
    <div>
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
<%include ./partials/footer.ejs%>
