<%include ./partials/header.ejs%>

<div>
    <nav></nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h2><%=data.title%></h2>
            <div>
                <img src=<%=data.image%> alt="" />
            </div>
            <div>
                <h5>$<%=data.price%></h5>
                <p><strong>Posted:</strong> <%=data.date%></p>
            </div>

            <div class="item-description">
                <p><%=data.desc%></p>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <h5>Seller:</h5>
            <div class="seller-image text-center">
                <!-- image -->
                <img
                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
                    style = "max-width: 250px;"
                    alt=""
                />
                <p>SellerFirst SellerLast</p>
            </div>
            <div class="text-center">
                <button class="btn btn-warning">Contact Seller</button>
            </div>
        </div>
    </div>
</div>

<%include ./partials/footer.ejs%>
